.footer {
  height: var(--footer-height);
  background-color: var(--border-color);
  color: var(--hint-font-color);
  width: 100%;
  z-index: 100;
  bottom:0;
  flex-shrink: 0;
}
.tnc
{
  justify-content: center;
  align-items: center;  
}

